body{
    background-image: url(Stock/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#time{
    font-family: "Century Gothic", sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    width: 280px;
    backdrop-filter: blur(10px) brightness(2);
    border: 3px double;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock-container{
    display: flex;
    justify-content: center;
    margin-top: 30%;
}
